@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    <ol>
        <li>PG DAC</li>
        <li>PG DBDA</li>
        <li>PD DITSS</li>
    </ol>
</div>
